<p class="mt-3">
  <a href="{% url 'opinion:opinion_add' seaman.id %}" class="btn btn-sm btn-outline-success">
    <span class="icon icon-plus-squared" aria-hidden="true"></span>
    Добавить отзыв</a>
</p>

{% for opinion in opinions %}

  <div class="card mt-2 col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="card-body">
      <h5 class="card-title">{{ opinion.date }} | {{ opinion.author }}</h5>

      <p class="card-text">{{ opinion.opinion_text }}</p>

      {% if opinion.opinion_file %}
        <p><a href="{{ opinion.opinion_file.url }}">Прикреплённый файл</a></p>
      {% endif %}

      <div class="row">
        <div class="col-6">
          <p class="text-muted">{{ opinion.contract|default_if_none:"без контракта" }}</p>
        </div>
        <div class="col-6">
          <a href="{% url 'opinion:opinion_edit' seaman.id opinion.id %}" class="card-link float-right">
            <span class="icon icon-pencil"></span> Редактировать</a>
        </div>
      </div>

    </div>
  </div>

{% endfor %}