{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

  <div class="container col-8">
    <h3>{{ title }}</h3>
    <h4>{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</h4>

    <form action="" method="post" class="">
      {% csrf_token %}

      {{ form|crispy }}

      <a href="{% url 'seamancard' seaman.id %}" class="btn btn-primary"><span class="icon icon-reply"></span> Назад</a>
      <button type="submit" class="btn btn-success"><span class="icon icon-floppy"></span> Сохранить</button>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    pickmeup('#id_date', {
      format	: 'Y-m-d',
      default_date: false,
    });
  </script>
{% endblock %}