{% extends 'base.html' %}

{% block title %}
  Список моряков
{% endblock %}

{% block content %}

  <h3>Список моряков</h3>

  <a href="{% url 'seaman_add' %}" class="btn btn-sm btn-outline-success mb-2">
    <span class="icon icon-user-add"></span>
    Добавить моряка</a>
  
  <table class="table table-sm">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Ф.И.О. (EN, RU, UA)</th>
      <th>Должность в последнем/текущем контракте</th>
    </tr>
    </thead>
    <tbody>
    {% for seaman in seamans %}

      <tr>
        <td>
          <a href="{% url 'seaman_edit' seaman.id %}"><span class="icon icon-pencil"></span></a>
        </td>
        <td width="50px">
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="{{ seaman.foto.url }}" height="70px" alt="Foto">
            </div>
          </div>
        </td>
        <td>
          <a href="{% url 'seamancard' seaman.id %}">
            {{ seaman.last_name_ru }} {{ seaman.first_name_ru }}<br>
            {{ seaman.last_name_en }} {{ seaman.first_name_en }}<br>
            {{ seaman.last_name_ua|default_if_none:'' }} {{ seaman.first_name_ua|default_if_none:'' }}
          </a>
        </td>
        <td>{{ seaman.last_rank|default_if_none:'' }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
{% endblock %}