{% extends 'base.html' %}

{% block title %}
  Карта моряка
{% endblock %}

{% block content %}

  <div class="container">
  <div class="col-12">
{#    <div class="page-header">#}
{#      <h1>{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</h1>#}
{#    </div>#}

    <ul class="nav nav-tabs" id="myTabs">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="#main" aria-controls="home" role="tab" data-toggle="tab">{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#opinion" aria-controls="profile" role="tab" data-toggle="tab">Отзывы</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#seaman-360" aria-controls="profile" role="tab" data-toggle="tab">Оценка 360&deg;</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#master" aria-controls="profile" role="tab" data-toggle="tab">Судовая характеристика</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#officer" aria-controls="profile" role="tab" data-toggle="tab">Береговая характеристика</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="main">
        <br>
        {% include 'crewing/_seamancard_main.html' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="opinion">
        {% include 'opinion/_seamancard_opinion.html' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="seaman-360">
        {% include 'crewing/_seamancard_360.html' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="master"></div>
      <div role="tabpanel" class="tab-pane" id="officer"></div>
    </div>

  </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    $('#myTabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    });
{% endblock %}
