{% extends 'base.html' %}

{% block title %}
  Карта моряка
{% endblock %}

{% block content %}

  <div class="container">
  <div class="col-12">
{#    <div class="page-header">#}
{#      <h1>{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</h1>#}
{#    </div>#}

    <ul class="nav nav-tabs" id="myTabs">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#opinion" aria-controls="profile" role="tab" data-toggle="tab">Отзывы</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#360" aria-controls="profile" role="tab" data-toggle="tab">360&deg;</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
            <br>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{ seaman.foto.url }}" alt="Foto">
                </div>
                <div class="media-body ml-3">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <p>RU</p>
                            <h3>{{ seaman.last_name_ru }} {{ seaman.first_name_ru }}</h3>
                        </div>
                        <div class="col-md-3">
                            <p>EN</p>
                            <h3>{{ seaman.last_name_en }} {{ seaman.first_name_en }}</h3>
                        </div>
                        <div class="col-md-3">
                            <p>UA</p>
                            <h3>{{ seaman.last_name_ua }} {{ seaman.first_name_ua }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <div>
          <div class="row">
            <div class="col-6 mr-auto"><h4>Контракты</h4></div>
            <div class="col-6">
              <a href="{% url 'contract_add' seaman.id %}" class="btn btn-outline-success btn-sm float-right">
                <span class="icon icon-plus"></span>
                Добавить контракт</a>
            </div>
          </div>

          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Судно</th>
              <th>Должность</th>
              <th>Дата начала</th>
              <th>Дата списания</th>
            </tr>
            </thead>
            <tbody>

            {% for contract in contracts %}
              <tr>
                <td></td>
                <td>{{ contract.vessel }}</td>
                <td>{{ contract.rank }}</td>
                <td>{{ contract.sign_in_date }}</td>
                <td>{{ contract.sign_off_date }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        </div>
      <div role="tabpanel" class="tab-pane" id="opinion">

          <p class="mt-3">
            <a href="{% url 'opinion_add' seaman.id %}" class="btn btn-primary">
              <span class="icon icon-plus" aria-hidden="true"></span>
              Добавить отзыв</a>
          </p>

          {% for opinion in opinions %}
            <div class="card mt-2">
              <div class="card-header">
                {{ opinion.date }} | {{ opinion.author }} | {{ opinion.contract }}
              </div>
              <div class="card-body">
                {{ opinion.opinion_text }}
              </div>
              <div class="card-footer">
                <a href="{% url 'opinion_edit' seaman.id opinion.id %}" class="float-right">
                  <span class="icon icon-pencil"></span> Редактировать</a>
              </div>
            </div>
          {% endfor %}
    </div>
      <div role="tabpanel" class="tab-pane" id="360"></div>
    </div>
  </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
{% endblock %}